<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <nav>
      <a routerLink="/">MyAppHome</a>
    </nav>
    <nav style="margin-left:20px;"  class="text-right">
      <a routerLink="/login">Registration</a>
    </nav>
    <span></span>
    <nav style="margin-left:20px;" class="text-right">
      <a routerLink="/List">List</a>
    </nav>
</mat-toolbar>
  <h3> 
    Welcome In Angular 2 and Web Api 2.0
  </h3>
  <h4>
  </h4>
  <router-outlet></router-outlet>
  <div ng-view></div>
</div>

